{% extends 'base.html' %}

{% block content %}

<div>
    <div id="about_div" class="max-w-2xl mx-auto bg-gray-200 shadow-lg rounded-2xl p-6">
        <h2 class="text-3xl font-bold text-gray-800 border-b-4 border-gray-600 inline-block pb-1">ABOUT ME</h2>
        
        <p class="mt-4 text-lg text-gray-700">
            Hello! I'm <b class="text-gray-600">Abdullah Adesina Dhikrullah</b>, 
            a passionate and results-driven <span class="font-semibold">Software Engineer</span> with a strong 
            foundation in <span class="font-semibold">mathematics and full-stack web development</span>. 
            My expertise lies in building <span class="font-semibold">scalable, user-friendly, and visually appealing</span> web 
            applications using <span class="font-semibold">Python (Flask), Next.js, React, and SQLAlchemy</span>.
        </p>
    
        <p class="mt-4 text-lg text-gray-700">
            I specialize in developing <i>well-structured, high-performance applications</i> by leveraging <i>HTML</i> for structure, 
            <i>CSS and Tailwind CSS</i> for styling, and <i>JavaScript</i> for interactivity. I also work with <i>Jinja for template integration</i>, 
            and <i>SQLAlchemy/MySQL</i> for efficient database management.  
        </p>
    
        <p class="mt-4 text-lg text-gray-700">
            I excel at collaborating with <span class="font-semibold">UI/UX designers</span> to create seamless and visually engaging 
            frontend experiences. My ability to blend functionality with aesthetics ensures that users have a smooth and 
            interactive experience while using my applications.
        </p>
    
        <p class="mt-4 text-lg text-gray-700">
            Beyond development, I thrive in <span class="font-semibold">team collaborations</span> and have worked with startups 
            to build innovative and high-performance applications. My passion for learning has led me to earn multiple certifications, 
            including <i>Frontend & Backend Development, AI/ML, Cloud Computing, and GitHub Career Essentials</i> from <i>ALX Academy, 3MTT, 
            IBM, Microsoft and McKinsey</i>.
        </p>
    
        <p class="mt-4 text-lg text-gray-700">
            Currently, I'm pursuing a <span class="font-semibold">Bachelor of Science in Mathematics</span> at  
            <i>Obafemi Awolowo University, Ile-Ife, Nigeria</i>, while advancing my expertise in  
            <span class="font-semibold">software engineering</span> through continuous learning and hands-on projects.
        </p>
        
    
        <p class="mt-4 text-lg text-gray-700">
            When I'm not coding, I love exploring <i>African culture, AI innovations, and tech-driven solutions</i> that create 
            real-world impact.
        </p>
    
        <div class="mt-6">
            <p class="text-lg font-semibold text-gray-800"><i class="fa-solid fa-location-dot mr-2"></i> Based in Osogbo, Osun State, Nigeria</p>
            <p class="text-lg text-gray-700"><i class="fa fa-envelope mr-1"></i> <span class="font-semibold">Email:</span>  <a href="mailto:daadesina1@gmail.com" class=" hover:underline">daadesina1@gmail.com</a></p>
            <p class="text-lg text-gray-700"><i class="fa fa-linkedin-square mr-1" aria-hidden="true"></i> <span class="font-semibold">LinkedIn:</span>  <a href="https://www.linkedin.com/in/daadesina" class=" hover:underline">linkedin.com/in/daadesina</a></p>
            <p class="text-lg text-gray-700"><i class="fa fa-whatsapp mr-1"></i> <span class="font-semibold">WhatsApp:</span>  <a href="https://wa.me/2348103230934" class=" hover:underline">+2348103230934</a></p>
        </div>
    </div>
    



</div>
    
{% endblock %}