{% extends 'base.html' %}

{% block content %}
    <div class="items-center flex justify-center mt-24 w-full" >
        <div class="" style="width: 100%;">
            <div class="flex justify-around items-center flex-wrap-reverse gap-6">
                <!-- left hand side -->
                 <div>
                    <!-- write up -->
                     <div style="max-width: 37rem;" class="flex flex-col gap-3">
                        <p class="white_text text-3xl font-bold" style="font-family: 'Raleway', serif;">Abdullah Adesina Dhikrullah</p>
                        <div class="gray_color font-mono leading-5 text-sm">
                            <div class="break-words">I’m a Software Engineer with a strong foundation in mathematics and full-stack development, passionate about building scalable and high-performance applications. My expertise includes Python (Flask), JavaScript (Next.js, React), and database management (SQLAlchemy, MySQL, SQLite).</div>
                            <div class="break-words">I love problem-solving, teamwork, and continuous learning, always striving to create efficient, user-friendly solutions. Beyond tech, I’m passionate about African culture and innovation, believing in the power of technology to drive meaningful change.</div>
                            <div class="break-words">Let’s connect and build something great together!</div>
                        </div>
                        <!-- Contact -->
                         <div class="flex gap-1 justify-between font-mono gray_color flex-wrap" >
                            <button class="nav_bar_bg px-2 py-2 w-28 rounded-md btn_hover transition-all duration-700">
                                <div class=''><a href='http://wa.me/+2348103230934?text=Hi,+I+got+your+number+from+your+portfolio+website.' target='_blank'><i class="fa fa-whatsapp"></i> WhatsApp</a></div>
                            </button>
                            <button class="nav_bar_bg px-2 py-2 w-28 rounded-md btn_hover transition-all duration-700">
                                <div class=''><a href='tel:+2348103230934' target='_blank'><i class="fa fa-phone"></i> Phone</a></div>
                            </button>
                            <button class="nav_bar_bg px-2 py-2 w-28 rounded-md btn_hover transition-all duration-700">
                                <div class=''><a href='mailto:daadesina1@gmail.com?subject=From%20your%20portfolio%20website&body=Good%20day' target='_blank'><i class="fa fa-envelope"></i> Email</a></div>
                            </button>
                            <button class="nav_bar_bg px-2 py-2 w-28 rounded-md btn_hover transition-all duration-700">
                                <div class=''><a href='https://www.linkedin.com/in/daadesina' target='_blank'><i class="fa fa-linkedin-square" aria-hidden="true"></i> LinkedIn</a></div>
                            </button>
                            <button class="nav_bar_bg px-2 py-2 w-28 rounded-md btn_hover transition-all duration-700">
                                <div class=''><a href='https://github.com/daadesina' target='_blank'><i class="fa fa-github" aria-hidden="true"></i> GitHub</a></div>
                            </button>
                         </div>
                     </div>
                     <!-- button -->
                 </div>

                 <!-- right hand side -->
                  <div class="">
                    <img src="../static/images/adesina_profile_pic.png" alt="">
                  </div>
            </div>
        </div>
    </div>
{% endblock %}