{% extends 'base.html' %}

{% block content %}
    <div class="items-center flex justify-center" style="height: 80vh;">
        <div class="" style="width: 80%;">
            <div class="flex justify-around items-center">
                <!-- left hand side -->
                 <div>
                    <!-- write up -->
                     <div style="width: 32rem;" class="flex flex-col gap-3">
                        <p class="text-3xl font-bold" style="font-family: 'Oleo Script Swash Caps', serif; font-style: normal;">Abdullah Adesina Dhikrullah</p>
                        <div class="gray_color text-sm font-mono leading-5">
                            <p>I am a Software Engineer with a strong foundation in mathematics and full-stack development, passionate about building scalable and high-performance applications. My expertise spans Python (Flask), JavaScript (Next.js, React), and database management (SQLAlchemy, MySQL, SQLite) allowing me to craft efficient, user-friendly, and innovative solutions.</p>
                            <p>I have a strong passion for problem-solving, teamwork, and learning new things. Whether I'm enhancing backend performance, creating intuitive user interfaces, or automating tasks with PowerShell, I tackle every challenge with a focus on growth and a dedication to quality.</p>
                            <p>Beyond technology, I am deeply passionate about African culture and innovation, believing in the power of tech-driven solutions to create meaningful impact. Currently pursuing a BSc in Mathematics at Obafemi Awolowo University, I leverage my analytical and logical thinking to tackle complex engineering challenges.</p>
                            <p>Let’s connect and build something great together!</p>
                        </div>
                     </div>
                     <!-- button -->
                 </div>

                 <!-- right hand side -->
                  <div class="">
                    <img src="../static/images/adesina_profile_pic.png" alt="">
                  </div>
            </div>
        </div>
    </div>
{% endblock %}